#jinja2: trim_blocks: False, lstrip_blocks: False
# yaml-language-server: $schema=http://frigate.n1mtp.com:5000/api/config/schema.json
# https://docs.frigate.video/configuration/

telemetry:
  # Optional: Enable the latest version outbound check (default: shown below)
  # NOTE: If you use the HomeAssistant integration, disabling this will prevent it from reporting new versions
  version_check: true

logger:
  default: info
  logs:
    frigate.mqtt: info

mqtt:
  host: {{ mqtt_host }}

detectors:
  coral1:
    type: edgetpu
    device: pci

ffmpeg:
  hwaccel_args: preset-rpi-64-h264 # preset-rpi-64-h265
  input_args: preset-rtsp-restream
  output_args:
    record: preset-record-generic

go2rtc:
  webrtc:
    candidates:
      - {{ frigate_server_ip }}:8555
  streams:
    {%- if doorbell['enabled'] %}
    doorbell:
      - ffmpeg:https://{{ doorbell['ip_address'] }}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={{ doorbell['username'] }}&password={{ doorbell_password }}#video=copy#audio=copy#audio=opus
      - rtsp://{{ doorbell['username'] }}:{{ doorbell_password }}@{{ doorbell['ip_address'] }}:554/Preview_01_sub
    doorbell_sub:
      - ffmpeg:https://{{ doorbell['ip_address'] }}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user={{ doorbell['username'] }}&password={{ doorbell_password }}
    {%- endif +%}
    {%- if floodlight['enabled'] %}
    floodlight:
      - rtsp://{{ floodlight['username'] }}:{{ floodlight_password }}@{{ floodlight['ip_address'] }}:554/Preview_01_sub
      #- rtsp://{{ floodlight['username'] }}:{{ floodlight_password }}@{{ floodlight['ip_address'] }}:554/Preview_01_main
    floodlight_sub:
      - rtsp://{{ floodlight['username'] }}:{{ floodlight_password }}@{{ floodlight['ip_address'] }}:554/h264Preview_01_sub
    {%- endif +%}
    {%- if deck['enabled'] %}
    deck:
      - rtsp://{{ deck['username'] }}:{{ deck_password }}@{{ deck['ip_address'] }}:554/Preview_01_main
    deck_sub:
      - rtsp://{{ deck['username'] }}:{{ deck_password }}@{{ deck['ip_address'] }}:554/Preview_01_sub
    {%- endif +%}

record:
  enabled: true
  # this should be disabled almost all the time
  # it is very CPU intensive
  # https://docs.frigate.video/configuration/record/#syncing-recordings-with-disk
  sync_recordings: false
  retain:
    days: 7
    mode: motion
  events:
    retain:
      default: 14
      mode: active_objects

snapshots:
  enabled: true
  clean_copy: true
  timestamp: true
  bounding_box: false
  retain:
    default: 10

objects:
  track:
    - car
    - person
    - cat

cameras:
  {%- if doorbell['enabled'] %}
  doorbell:
    enabled: true
    objects:
      track:
        - car
        - person
      filters:
        car:
          mask:
            - 0.56,0.51,0.559,0.551,0.66,0.549,0.655,0.498
            - 0.732,0.497,0.724,0.557,0.901,0.568,0.895,0.504
      mask:
        - 0.127,0.479,0.131,0.511,0.18,0.503,0.183,0.469
        - 0.233,0.48,0.233,0.539,0.428,0.552,0.447,0.479
        - 0.934,0.528,0.987,0.53,0.993,0.576,0.938,0.575
        - 0.006,0.475,0.046,0.49,0.049,0.52,0.009,0.522
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/doorbell_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 896
      height: 672
      fps: 5
    motion:
      mask:
        - 1,0,1,0.704,0.527,0.662,0.539,0.621,0.428,0.606,0.381,0.631,0,0.562,0,0
        - 0.068,0.577,0.176,0.599,0,0.631,0,0.562
      threshold: 30
      contour_area: 10
      improve_contrast: 'true'
    zones:
      doorbell_enter_driveway:
        coordinates: 0.527,0.655,0.536,0.622,0.432,0.605,0.399,0.628
        inertia: 3
        loitering_time: 0
      doorbell_driveway:
        coordinates: 0.137,1,0.492,0.658,0.375,0.629,0.034,0.825
        inertia: 3
        loitering_time: 0
        objects:
          - car
          - person
      doorbell_front_door:
        coordinates: 0.563,0.872,0.458,0.848,0.405,0.829,0.263,0.898,0.166,1,0.584,1
        objects: person
        inertia: 10
        loitering_time: 3
    review:
      alerts:
        required_zones:
          - doorbell_front_door
          - doorbell_driveway
      detections: {}
  {%- endif +%}

  {%- if floodlight['enabled'] %}
  floodlight:
    enabled: true
    objects:
      track:
        - car
        - person
      filters:
        car: {}
        person:
          mask:
            - 0.119,0.402,0.124,0.482,0.163,0.451,0.153,0.382
            - 0.533,0.035,0.544,0.305,0.563,0.312,0.573,0.235,0.668,0.26,0.69,0.322,0.892,0.389,0.889,0.023
            - 0.189,0.283,0.189,0.386,0.322,0.303,0.319,0.215
            - 0.419,0.19,0.42,0.254,0.48,0.244,0.478,0.18
      mask:
        - 0.533,0.035,0.544,0.305,0.563,0.312,0.573,0.235,0.668,0.26,0.689,0.354,0.892,0.405,0.889,0.023
        - 0.189,0.283,0.189,0.386,0.322,0.303,0.319,0.215
        - 0.419,0.19,0.42,0.254,0.48,0.244,0.478,0.18
        - 0.01,0.405,0.12,0.35,0.131,0.418,0.003,0.482
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/floodlight
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/floodlight_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 1536
      height: 576
      fps: 10
    motion:
      mask:
        - 0,0,0.379,0,0.379,0.278,0,1
        - 0,0,1,0,1,0.418,0.796,0.401,0.543,0.379,0.505,0.322,0.403,0.337,0.403,0.405,0,0.62
      threshold: 30
      contour_area: 49
      improve_contrast: 'true'
    zones:
      flood_enter_driveway:
        coordinates: 0.404,0.339,0.51,0.309,0.536,0.381,0.411,0.407
        inertia: 3
        loitering_time: 0
      flood_driveway:
        coordinates: 0.41,0.425,0.54,0.391,0.776,0.888,0.424,0.962
        inertia: 3
        loitering_time: 0
      flood_front_door:
        coordinates: 0.723,0.358,0.818,0.405,0.933,0.481,0.842,0.982,0.709,0.754,0.667,0.607
        objects: person
        inertia: 3
        loitering_time: 0
    review:
      alerts:
        required_zones:
          - flood_enter_driveway
          - flood_front_door
          - flood_driveway
  {%- endif +%}

  {%- if deck['enabled'] %}
  deck:
    enabled: true
    objects:
      track:
        - person
      filters:
        person:
          mask: 0.787,0.011,0.751,0.66,0.83,0.692,0.881,0.015
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/deck
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/deck_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 10
    zones:
      backyard:
        coordinates: 
          0.009,0.497,0.23,0.331,0.417,0.259,0.52,0.215,0.984,0.406,0.992,0.985,0.093,0.984
        inertia: 5
        loitering_time: 5
        objects: person
    review:
      alerts:
        required_zones: backyard
      detections: {}
    motion:
      threshold: 30
      contour_area: 55
      improve_contrast: true
      mask: 0.006,0.009,0.005,0.156,0.998,0.174,0.995,0.005
  {%- endif +%}
version: 0.14
