#jinja2: trim_blocks: False, lstrip_blocks: False
# yaml-language-server: $schema=http://frigate.n1mtp.com:5000/api/config/schema.json
# https://docs.frigate.video/configuration/

telemetry:
  # Optional: Enable the latest version outbound check (default: shown below)
  # NOTE: If you use the HomeAssistant integration, disabling this will prevent it from reporting new versions
  version_check: true

logger:
  default: info
  logs:
    frigate.mqtt: info

mqtt:
  host: {{ mqtt_host }}

detectors:
  coral1:
    type: edgetpu
    device: pci

ffmpeg:
  hwaccel_args: preset-vaapi
  input_args: preset-rtsp-restream
  output_args:
    record: preset-record-generic

go2rtc:
  webrtc:
    candidates:
      - {{ frigate_server_ip }}:8555
  streams:
    {%- if doorbell['enabled'] %}
    doorbell:
      - rtsp://{{ doorbell['username'] }}:{{ doorbell_password }}@{{ doorbell['ip_address'] }}/Preview_01_main
    doorbell_sub:
      - rtsp://{{ doorbell['username'] }}:{{ doorbell_password }}@{{ doorbell['ip_address'] }}/Preview_01_sub
    {%- endif +%}
    {%- if floodlight['enabled'] %}
    floodlight:
      - rtsp://{{ floodlight['username'] }}:{{ floodlight_password }}@{{ floodlight['ip_address'] }}:554/h265Preview_01_sub
    floodlight_sub:
      - rtsp://{{ floodlight['username'] }}:{{ floodlight_password }}@{{ floodlight['ip_address'] }}:554/h265Preview_01_sub
    {%- endif +%}
    {%- if deck['enabled'] %}
    deck:
      - rtsp://{{ deck['username'] }}:{{ deck_password }}@{{ deck['ip_address'] }}:554/Preview_01_main
    deck_sub:
      - rtsp://{{ deck['username'] }}:{{ deck_password }}@{{ deck['ip_address'] }}:554/Preview_01_sub
    {%- endif +%}

record:
  enabled: true
  retain:
    days: 7
    mode: motion
  events:
    retain:
      default: 14
      mode: active_objects

snapshots:
  enabled: true
  clean_copy: true
  timestamp: true
  bounding_box: false
  retain:
    default: 10

objects:
  track:
    - car
    - person
    - cat

cameras:
  {%- if doorbell['enabled'] %}
  doorbell:
    enabled: true
    objects:
      track:
        - car
        - person
      filters:
        car:
          mask:
            - 0.252,0.486,0.253,0.528,0.455,0.529,0.449,0.461
            - 0.56,0.51,0.559,0.551,0.66,0.549,0.655,0.498
            - 0.732,0.497,0.724,0.557,0.901,0.568,0.895,0.504
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/doorbell
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/doorbell_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 480
      fps: 10
    motion:
      mask:
        - 1,0,1,0.704,0.527,0.662,0.539,0.621,0.428,0.606,0.381,0.631,0,0.562,0,0
        - 0.068,0.577,0.176,0.599,0,0.631,0,0.562
      threshold: 55
      contour_area: 70
      improve_contrast: true
    zones:
      doorbell_enter_driveway:
        coordinates: 332,305,357,288,281,279,260,291
      doorbell_driveway:
        coordinates: 0.209,0.931,0.492,0.658,0.375,0.629,0.1,0.794
        inertia: 3
        loitering_time: 0
        objects:
          - car
          - person
      doorbell_front_door:
        coordinates: 0.563,0.872,0.458,0.848,0.383,0.87,0.263,0.898,0.166,1,0.584,1
        objects: person
        inertia: 10
        loitering_time: 3
    review:
      alerts:
        required_zones:
          - doorbell_front_door
          - doorbell_driveway
      detections: {}
  {%- endif +%}

  {%- if floodlight['enabled'] %}
  floodlight:
    enabled: true
    objects:
      track:
        - car
        - person
      filters:
        car: {}
        person: {}
      mask: 0.568,0.309,0.815,0.354,0.898,0.305,0.902,0.013,0.55,0.006
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/floodlight
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/floodlight_sub
          input_args: preset-rtsp-restream
          roles:
           - detect
    detect:
      enabled: true
      width: 1536
      height: 576
      fps: 10
    motion:
      mask:
        - 0,0,582,0,582,160,0,576
        - 0,0,1536,0,1536,241,1222,231,822,235,751,187,641,194,619,233,0,357
      threshold: 50
      contour_area: 49
      improve_contrast: true
    zones:
      flood_enter_driveway:
        coordinates: 621,201,778,184,808,203,637,225
      flood_driveway:
        coordinates: 630,245,830,225,1093,428,652,554
      flood_front_door:
        coordinates: 0.723,0.358,0.818,0.405,0.933,0.481,0.842,0.982,0.709,0.754,0.667,0.607
        objects: person
        inertia: 3
        loitering_time: 0
    review:
      alerts:
        required_zones:
          - flood_enter_driveway
          - flood_front_door
          - flood_driveway
  {%- endif +%}

  {%- if deck['enabled'] %}
  deck:
    enabled: true
    objects:
      track:
        - person
    ffmpeg:
      inputs:
        - path: rtsp://127.0.0.1:8554/deck
          input_args: preset-rtsp-restream
          roles:
            - record
        - path: rtsp://127.0.0.1:8554/deck_sub
          input_args: preset-rtsp-restream
          roles:
            - detect
    detect:
      enabled: true
      width: 640
      height: 360
      fps: 10
    zones:
      backyard:
        coordinates: 
          0.009,0.497,0.23,0.331,0.417,0.259,0.52,0.215,0.984,0.406,0.992,0.985,0.093,0.984
        inertia: 5
        loitering_time: 5
        objects: person
    review:
      alerts:
        required_zones: backyard
      detections: {}
    motion:
      threshold: 30
      contour_area: 55
      improve_contrast: true
      mask: 0.006,0.009,0.005,0.156,0.998,0.174,0.995,0.005
  {%- endif +%}
version: 0.14
